<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />
    <meta name="author" lang="en" content="All: web2py [www.web2py.com]" />
    <meta name="copyright" lang="en" content="All: web2py [www.web2py.com]" />
    <meta name="description" content="{{=response.description}}" />
    <meta name="keywords" content="{{=response.keywords}}" />

    <link rel="stylesheet" media="screen,projection" type="text/css" href="{{=URL(r=request,c='static',f='css/main.css')}}" />

    <title>{{=response.title or 'web2py example'}}</title>
{{include 'web2py_ajax.html'}}
</head>

<body>
<div id="header">
    <div class="main">
        <h3 id="logo"><a href="http://www/web2py.com">{{=response.title or 'web2py example'}}</a></h3>
        <p id="slogan">Reddit clone</p>

        <div id="search">
            <form action="http://www.google.com/search" method="get">
            	<div>
                    <input type="text" size="30" name="as_q" id="search-input" /><input type="hidden" name="as_sitesearch" value="mdp.cti.depaul.edu" /><input type="submit" value="Search" id="search-submit" />
            	</div>
            </form>
        </div>

<!-- AddThis Button BEGIN -->
<div style="text-align:right">
<script type="text/javascript">addthis_pub  = 'mdipierro';</script>
<a href="http://www.addthis.com/bookmark.php" onmouseover="return addthis_open(this, '', '[URL]', '[TITLE]')" onmouseout="addthis_close()" onclick="return addthis_sendto()"><img src="http://s9.addthis.com/button1-bm.gif" width="125" height="16" border="0" alt="" /></a><script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script>
</div>
<!-- AddThis Button END -->

    </div>
</div>

<div id="nav" class="box">
    {{if response.menu:}}
    <div class="main">
        <ul>
            {{for name,active,link in response.menu:}}
            <li {{if active:}}id="nav-active"{{pass}}><a href="{{=link}}">{{=name}}</a></li>
            {{pass}}
        </ul>
    </div>
    {{pass}}
</div>

<div id="cols">
    <div class="main box">
        <div id="content">
{{if response.flash:}}<div id="flash">{{=response.flash}}</div>{{pass}}
{{include}}
        </div>

        <div id="aside">
     <ul>
    {{if session.authorized:}}
    <li>{{=A('post news',_href=URL(r=request,f='post'))}}</li>
    <li>{{=A('logout',_href=URL(r=request,f='logout'))}}</li>
    {{else:}}
    <li>{{=A('register',_href=URL(r=request,f='register'))}}</li>
    <li>{{=A('login',_href=URL(r=request,f='login'))}}</li>
    {{pass}}
    </ul>
    <h3>Categories</h3>
    <ul>
    {{for category in session.categories:}}
    <li>{{=A(category.replace('_',' '),_href=URL(r=request,f='index',args=[category]))}}</li>
    {{pass}}
    </ul>

            <h3>Want to buy this software?</h3>
            Make a bid via <a href="mailto:mdipierro@cs.depaul.edu">email</a>
        </div>

    </div>
</div>
<div id="footer">
    <div class="main">
        <p>&copy;&nbsp;2008 - Powered by <a href="http://www.web2py.com">web2py</a></p>
    </div>
</div>

</body>
</html>
